.button:hover,
#button3:hover,
.button_backindex:hover,
.aaside:hover {
    background-color: aqua;
    padding: 22px;
}

.button2:hover {

    background-color: aqua;
}

p:hover {
    color: black;
}

.p1:hover,
.p1mot:hover,
.p2mot:hover {
    background-color: #0c00ed7b;
    color: rgb(255, 255, 255);
    box-shadow: 20px 20px 5px rgb(54, 54, 54);
}

.boxes:hover,
.boxes2:hover {
    outline: 10px solid rgb(63, 63, 63);
    transition: 0.3s;
    cursor: default;
}