h1 {
    color: #002135;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 50%;
    margin-left: 29.5%;
    margin-top: 5%;

}

a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.yup {
    color: black;
}


.button {


    border: none;
    transition: 0.5s;
    transform: translateY(4px);
    background-color: rgba(0, 58, 184, 0.692);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 0;
    margin-right: 5.45%;
    cursor: pointer;
}

.ahomepage {
    color: white;
}

.button:hover,
#button3:hover,
.button_backindex:hover,
.aaside:hover {
    background-color: aqua;
    padding: 22px;
}

.button2:hover {

    background-color: aqua;
}


body {
    background-color: #367cff77;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(4px);
    transition: 0.5s;
    color: #3b3b3b;
    width: 70%;
    font-size: 130%;
    text-align: center;
    margin-left: 350px;
    margin-right: auto;
}

p:hover {
    color: black;
}



.p1:hover,
.p1mot:hover,
.p2mot:hover {
    background-color: #0c00ed7b;
    color: rgb(255, 255, 255);
    box-shadow: 20px 20px 5px rgb(54, 54, 54);
}


#profiel {
    text-align: center;
    width: 100%;
    cursor: default;
}

.button2 {

    border: none;
    transition: 0.5s;
    transform: translateY(4px);
    background-color: rgba(0, 58, 184, 0.692);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: xx-large;
    margin-left: 440px;
    width: 1200px;

}

h4,
h5,
h6,
h7,
h8 {
    font-size: large;
}


th {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 12px;
    padding: 12px;
    text-align: left;
    color: rgb(0, 0, 0);

}

td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid grey;
    background-color: white;
    text-align: left;
    color: rgb(0, 0, 0);
    margin: 0%;
    padding: 15px;
}


.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-left: 21%;
    border-collapse: collapse;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 0, 0, 0);
    transform: translateY(4px);
    transition: 0.5s;
    color: #ffffff;
    font-size: 200%;
    width: 900px;
    background-color: #0025ca7b;
    padding: 60px;
    border: 20px solid #23def7a1;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 15.3%;
    width: 350px;
    text-align: left;
}

.p1mot {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 0, 0, 0);
    transform: translateY(4px);
    transition: 0.5s;
    color: #ffffff;
    font-size: 170%;
    background-color: #0025ca7b;
    padding: 40px 110px 40px 110px;
    border: 20px solid #23def7a1;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 15.3%;
    width: 1200px;
    text-align: left;
}

.motp {
    width: 300px;
    color: white;
}

.imgs {
    width: 387px;
    height: auto;
    position: absolute;
    margin-left: 60%;
    margin-top: 70px;
    border-radius: 15px;
    border: 20px solid #23def7a1;
    border-radius: 15px;
}

.imgss {
    width: 650px;
    height: auto;
    position: absolute;
    margin-left: 60%;
    mix-blend-mode: multiply;
    margin-top: -20px;
}

.imgsss {
    width: 600px;
    height: auto;
    position: absolute;
    margin-left: 60%;
    margin-top: 34.5%;
    border-radius: 15px;
    border: 20px solid #23def7a1;
    border-radius: 15px;
}

html {
    overflow-x: hidden;
}

.checkbox2 {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 20px;
}

.pboxes {
    width: 150px;
    position: relative;
    left: 75px;
    margin-left: auto;
    margin-right: auto;
}

.boxesheight {
    height: 55%;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
}

.boxes {
    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    border-radius: 15%;
    outline: 10px solid rgb(128, 128, 128);
    margin-bottom: 110px;
    margin-left: 292px;
    display: inline-block;
    vertical-align: bottom;
}


.boxes2 {
    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    border-radius: 15%;
    outline: 10px solid rgb(128, 128, 128);
    margin-bottom: 20px;
    margin-left: 292px;
    display: inline-block;
}

.boxes:hover,
.boxes2:hover {
    outline: 10px solid rgb(63, 63, 63);
    transition: 0.3s;
    cursor: default;
}


.progress_bar {
    width: 65%;
    height: 35px;
    background: linear-gradient(to right, lightgreen 0%, lightgreen 35%, orange 35%, orange 45%, red 45%, red 50%, grey 50%, grey 100%);
    position: absolute;
    top: 1150px;
    left: 403px;
    border: 2px solid black;
    border-radius: 15px;
}

header {
    position: fixed;
    width: 150%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(39, 115, 255);
    padding: 13px;
}

.aaside {
    background-color: rgba(0, 58, 184, 0.692);
    border: none;
    width: 111%;
    padding: 20px;
    transition: 0.5s;
    transform: translateY(4px);
    position: relative;
    left: -20px;
}



#ul2 {
    list-style-type: none;
    background-color: rgb(39, 115, 255);
    width: 175px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    margin-top: -0%;
    margin-left: -1%;
    bottom: -95px;
}

.headerboxes {
    color: #002135;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 50%;
    margin-left: 74px;
    margin-top: 5%;
}