h1 {
    color: #002135;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 50%;
    margin-left: 26.4%;
    margin-top: 5%;

}
.h1headers{
        color: #002135;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        width: 50%;
        margin-left: 29%;
        margin-top: 5%;
    
    
}

header {
    background-color: rebeccapurple;
}

.button {

    
    border: none;
    transition: 0.5s;
    transform: translateY(4px);
    background-color: rgba(0, 58, 184, 0.692);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 0;
    margin-right: 5.45%;
    cursor: pointer;
}

.ahomepage{
    color: white;
}
.button:hover,
#button3:hover,
.button_backindex:hover,
.aaside:hover {
    background-color: aqua;
    padding: 22px;
}

.button2:hover {

    background-color: aqua;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;


}

body {
    background-color: #367cff77;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 0, 0, 0);
    transform: translateY(4px);
    transition: 0.5s;
    color: #656e6b;
    width: 70%;
    font-size: 130%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pheaders{
    
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(255, 0, 0, 0);
        transform: translateY(4px);
        transition: 0.5s;
        color: #656e6b;
        width: 30%;
        font-size: 130%;
        text-align: center;
        margin-left: auto;
        margin-right: 31%;
        
    
}


.p1:hover,.p1mot:hover,.p2mot:hover
 {
    background-color: #0c00ed7b;
    color: rgb(255, 255, 255);
    box-shadow: 20px 20px 5px rgb(54, 54, 54);
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 0, 0, 0);
    transform: translateY(4px);
    transition: 0.5s;
    color: #656e6b;
    font-size: 130%;
    margin-top: 30px;

}

ul:hover {
    background-color: rgba(0, 255, 255, 0);
    color: black;
}

#profiel {
    text-align: center;
    width: 100%;
    cursor: default;
}

.button2 {

    border: none;
    transition: 0.5s;
    transform: translateY(4px);
    background-color: aquamarine;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: xx-large;
    margin-left: 440px;
    width: 1200px;

}

h4,
h5,
h6,
h7,
h8 {
    font-size: large;
}

.timeline {
    display: flex;
}

th {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 12px;
    padding: 12px;
    text-align: left;
    color: rgb(0, 0, 0);
   
}

td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid grey;
    background-color: white;
    text-align: left;
    color: rgb(0, 0, 0);
    margin: 0%;
    padding: 15px;
}

.checkbox {
    width: 80px;
    height: 17px;
    outline: 0px solid white;
}

.center {
    margin-left: 370px;
    margin-top: 30px;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 0, 0, 0);
    transform: translateY(4px);
    transition: 0.5s;
    color: #c9c9c9;
    font-size: 170%;
    background-color: #0025ca7b;
    padding: 40px 110px 40px 110px;
    border: 20px solid #23def7a1;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 15.3%;
    width: 350px;
    text-align: left;

}

.p1mot {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 0, 0, 0);
    transform: translateY(4px);
    transition: 0.5s;
    color: #c9c9c9;
    font-size: 170%;
    background-color: #0025ca7b;
    padding: 40px 110px 40px 110px;
    border: 20px solid #23def7a1;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 15.3%;
    width: 1200px;
    text-align: left;
    

}
.motp{
    width: 300px;
    color: white;
}




.imgs {
    width: 600px;
    height: auto;
    position: absolute;
    margin-left: 60%; 
    margin-top: 70px;
    border-radius: 15px;
    border: 20px solid #23def7a1;
    border-radius: 15px;

}

.imgss {
    width: 650px;
    height: auto;
    position: absolute;
    margin-left: 60%; 
    margin-top: 20px;
    mix-blend-mode: multiply;
    margin-top: -50px;
}

.imgsss {
    width: 600px;
    height: auto;
    position: absolute;
    margin-left: 60%; 
    margin-top: 34%;
    border-radius: 15px;
    border: 20px solid #23def7a1;
    border-radius: 15px;

}


#button3 {
    display: block;

    border: none;
    transition: 0.5s;
    transform: translateY(4px);
    background-color: aquamarine;

    text-align: center;
    padding: 20px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: xx-large;
    margin-left: 18%;
    width: 300px;
}

html {
    overflow-x: hidden;
}

.checkbox2 {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 20px;
}

.pboxes {

    width: 150px;

    position: relative;
    left: 50px;
}
.boxesheight{
    height: 55%;
    width: 300px;
    
}

.boxes {
    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    border-radius: 15%;
    outline: 10px solid rgb(128, 128, 128);
    margin-bottom: 110px;
    margin-left: 285px;
    display: inline-block;
    vertical-align: bottom;

}


.boxes2 {
    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    border-radius: 15%;
    outline: 10px solid rgb(128, 128, 128);
    margin-bottom: 20px;
    margin-left: 285px;
    display: inline-block;

}

.boxes:hover,
.boxes2:hover {
    outline: 10px solid rgb(63, 63, 63);
    transition: 0.3s;
    cursor: default;
}

.ulmot{
    margin-left: 300px;
}

.motivation{
    display: inline-block;
    margin-left: 15%;
}

.progress_bar{
    width: 65%;
    height: 35px;
    background: linear-gradient(to right, lightgreen 0%, lightgreen 35%, red 35%, red 40%, grey 40%, grey 100%);
    position: absolute;
    top: 1150px;
    left: 375px;
    border: 2px solid black;
    border-radius: 15px;
}

header{
    position: fixed;
    width: 150%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(39, 115, 255);
    padding: 13px;
}

.aaside{ 
    background-color: rgba(0, 58, 184, 0.692);
    border: none;
    width: 111%;
    padding: 20px;
    transition: 0.5s;
    transform: translateY(4px);
    position: relative;
    left: -20px;
    
    
}
a{
    color: white;
}
.yup{
    color: black;
}


#ul2 {
    list-style-type: none;
    background-color: rgb(39, 115, 255);
    width: 175px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    margin-top: -0%;
    margin-left: -1%;
    bottom: -95px;
}
